n8n-workflows/workflow-contact.json
{
    "name": "Contact Simple",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "contact",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-contact",
            "name": "Webhook Contact",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "contact"
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{$json.email}}",
                            "operation": "isNotEmpty"
                        },
                        {
                            "value1": "={{$json.nom}}",
                            "operation": "isNotEmpty"
                        },
                        {
                            "value1": "={{$json.message}}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "id": "validation-contact",
            "name": "Validation des données",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "VOTRE_GOOGLE_SHEET_ID",
                    "mode": "list",
                    "cachedResultName": "Contacts"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "Sheet1",
                    "mode": "list",
                    "cachedResultName": "Sheet1"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Date": "={{$now.toISO()}}",
                        "Nom": "={{$json.nom}}",
                        "Email": "={{$json.email}}",
                        "Sujet": "={{$json.sujet}}",
                        "Message": "={{$json.message}}"
                    }
                },
                "options": {}
            },
            "id": "google-sheets-contact",
            "name": "Enregistrer dans Google Sheets",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                650,
                200
            ]
        },
        {
            "parameters": {
                "fromEmail": "noreply@innocentsfrance.org",
                "toEmail": "contact@innocentsfrance.org",
                "subject": "Nouveau message de contact - {{$json.sujet}}",
                "emailType": "html",
                "message": "=<h2>Nouveau Message de Contact</h2>\n<p><strong>De :</strong> {{$json.nom}}</p>\n<p><strong>Email :</strong> {{$json.email}}</p>\n<p><strong>Sujet :</strong> {{$json.sujet}}</p>\n<hr>\n<p><strong>Message :</strong></p>\n<p>{{$json.message}}</p>"
            },
            "id": "email-equipe-contact",
            "name": "Email à l'Équipe",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2,
            "position": [
                650,
                400
            ]
        },
        {
            "parameters": {
                "fromEmail": "noreply@innocentsfrance.org",
                "toEmail": "={{$json.email}}",
                "subject": "Nous avons bien reçu votre message - INOC France",
                "emailType": "html",
                "message": "=<h2>Merci de nous avoir contactés</h2>\n<p>Bonjour {{$json.nom}},</p>\n<p>Nous avons bien reçu votre message concernant : <strong>{{$json.sujet}}</strong></p>\n<p>Notre équipe vous répondra dans les plus brefs délais.</p>\n<br>\n<p>Cordialement,<br>L'équipe INOC France</p>"
            },
            "id": "email-autoreponse",
            "name": "Auto-réponse",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": true, \"message\": \"Message envoyé avec succès\" } }}"
            },
            "id": "response-success-contact",
            "name": "Réponse Succès",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1050,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": false, \"message\": \"Données invalides\" } }}",
                "options": {
                    "responseCode": 400
                }
            },
            "id": "response-error-contact",
            "name": "Réponse Erreur",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                650,
                600
            ]
        }
    ],
    "connections": {
        "Webhook Contact": {
            "main": [
                [
                    {
                        "node": "Validation des données",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validation des données": {
            "main": [
                [
                    {
                        "node": "Enregistrer dans Google Sheets",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Email à l'Équipe",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Réponse Erreur",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Enregistrer dans Google Sheets": {
            "main": [
                [
                    {
                        "node": "Auto-réponse",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Email à l'Équipe": {
            "main": [
                [
                    {
                        "node": "Auto-réponse",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Auto-réponse": {
            "main": [
                [
                    {
                        "node": "Réponse Succès",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {}
}